---
import DailySchedule from '../components/DailySchedule.astro';
import Layout from '../layouts/Layout.astro';

export const prerender = true;
---

<Layout>
	<h1>WTTW Schedule</h1>
	<DailySchedule />
</Layout>

<style>
	h1 {
		text-align: center;
	}
</style>