---
import ChannelRow from "./ChannelRow.astro";
import type { Channel, DayAPIResponse } from "./types";
import { dateAsString } from "../utilities/dates";
import { GET } from "../pages/api/day";

var feeds: Array<Channel> = [];
var formattedDate: String = "";
var displayDate: String = "";
var previousDate: String = "";
var nextDate: String = "";
var data: DayAPIResponse;

try {

  let response = await GET(Astro);
  data = await response.json();
  if (data) {
    feeds = data.feeds;
    formattedDate = dateAsString(data.dateObj);
    previousDate = dateAsString(data.dateObj, -1);
    nextDate = dateAsString(data.dateObj, 1);

    const displayFormatter = new Intl.DateTimeFormat("en-US", {
      weekday: "long",
      year: "numeric",
      month: "long",
      day: "numeric",
    });

    displayDate = displayFormatter.format(new Date(data.dateObj));
  }
} catch (error) {
  // Display an error message to the user or log the error
  console.error("Failed to fetch data:", error);
}
---

<div id="container">
  <main>
    <div class="nav">
      <a href={"/day/" + previousDate}>&lt;</a>
      <h2 class="title">{displayDate}</h2>
      <a href={"/day/" + nextDate}>&gt;</a>
    </div>
    <section id="hero">
      <ol class="schedule">
        <ChannelRow />
        {feeds.map((chan) => <ChannelRow channel={chan} />)}
      </ol>
    </section>
  </main>
</div>

<style>
  .schedule {
    max-width: 100%;
    overflow-x: scroll;
    list-style: none;
    margin: 0;
    padding: 1rem 1px;

    > li {
      list-style: none;
    }
  }

  #container {
    font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
      Arial, sans-serif;
    height: 100%;
  }

  #hero {
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centers items horizontally */
    justify-content: center;

    a {
      text-decoration: none;
      margin: 0 2rem;
    }
    .title {
      display: inline-block;
      width: 100%;
      text-align: center;
    }
  }

  h1 {
    font-size: 22px;
    margin-top: 0.25em;
  }

  @media screen and (max-height: 368px) {
    #news {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    #container {
      display: flex;
      flex-direction: column;
    }

    #hero {
      display: block;
      padding-top: 10%;
    }

    #links {
      flex-wrap: wrap;
    }

    #links a.button {
      padding: 14px 18px;
    }

    #news {
      right: 16px;
      left: 16px;
      bottom: 2.5rem;
      max-width: 100%;
    }

    h1 {
      line-height: 1.5;
    }
  }
</style>
